Support for less specific languages

Hi,

I'm working on an i18n module for Node and I would very much like to use DateJS to handle the date portion, however there either is no support, or I have not found it, for less specific languages.

E.g.: if I try to set the language to `en` the method throws an error indicating that `en` does not exist while this should be possible. I'm requesting information about the English language which is not related to a specific region or country. Since I am ambiguous about the request I am most likely to not be interested in the differences between `en-US` and `en-GB` (or any other region for `en`).

Is it possible to have something like this implemented?

"en" is undefined because it makes no sense - do you mean British or American English?

There is no way for the library to "guess" what subset it should use - for example in the US the dates are _completely different orders_ than in the UK. It would be utterly unworkable to suggest that they are even slightly the same as each other.

The terminology itself is an IETF standard - encoded in RFC 5646, RFC 5645, RFC 4647, ISO 639, ISO 15924, ISO 3166-1, and UN M.49. It's also compliant with the IANA Language Subtag Registry.

Locale *means* something in DateJS.  Sorry, this isn't going to change and _nor should it_. It's the very definition of By Design. 

Language tags have one mandatory tag which is the language tag itself. Browsers can send requests where they indicate that the response should be in the `en` language. As a dev when I receive that I ask myself the same thing you did. Is this American or British or some other English?

.NET framework maps a specific culture to each neutral culture which in turn has an effect to the date format.

I was wondering whether DateJS has a mechanism for dealing with this, but your answer is clear enough towards any such development within DateJS.

Having a _language resolution_ mechanism outside this library is more useful than having it within as it also needs to help find language-specific numeric formats.

Thanks for your input!

> .NET framework maps a specific culture to each neutral culture which in turn has an effect to the date format.

And it's *fundamentally wrong*. Because there is no "neutral" way to resolve - what they do is say ".NET *prefers* this form by default" which is, when dealing with internationalization - quite frankly *stupid*.

Not least very culturally ignorant.

I agree though - this needs to happen at a language level to be effective - but it won't, because it's a bad idea to do an leads to incompatibility (ie - British vs American dates - totally incompatible and .NET will break for one of them).